data/wechsel/bilingual_dictionary_alignment_matrix.npy filter=lfs diff=lfs merge=lfs -text
data/wechsel/german_bilingual_dictionary.txt filter=lfs diff=lfs merge=lfs -text
data/focus/fuzzy_token_overlap.json filter=lfs diff=lfs merge=lfs -text
